body
{
    background-color: black;
}

#video
{
    text-align: center;
    align-items: center;
    align-self: center;

}

#cim
{
    text-align: center;
    color: aliceblue;
    font-size: 15px;
}

a
{
    text-decoration: none;
}